{% extends 'base.html' %}
{% load static %}

{% block title %} DetailBook
{% endblock title %}

{% block body %}
<div class="container">
<h1>Detail Book</h1>
</div>
<div class="container">
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ object.book_image.url }}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Название книги: {{ object.name }}</h5>
              <p class="card-text"> Жанр книги: {{ object.genre }}</p>
              <p class="card-text"> Описание книги: {{ object.description }}</p>
              <p class="card-text"> Авторы книги: {{object.writer.all|join:', '}}</p>
              <p class="card-text"><small class="text-muted">{{ object.updated }}</small></p>
            </div>
          </div>
        </div>
      </div>

{% endblock body %}
