{% extends 'base.html' %}
{% load static %}


{% block title %}Homepage
{% endblock title %}
{% block body %}
<div class="container">
<h1>Home Page</h1>
</div>
<div class="container">
<h1> Списки:</h><br>

    <a href="/listgenre/"> ListGenre + Update + create + delete</a><br>
    <a href="/listbook/"> ListBook + Update + create + delete</a><br>
    

 
        
      <div class="card-group">
      {%for obj in object_list%}
      <div class="card">
        <img src="{{ obj.book_image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ obj.name }}</h5>
          <p class="card-text">{{ obj.genre }}</p>
          <p class="card-text">{{ obj.description }}</p>
          <a href="/{{obj.pk}}/detailbook/" class="btn btn-primary">Обзор</a>
          <a href="/{{obj.pk}}/updatebook/" class="btn btn-success">Редактировать</a>
          <a href="/{{obj.pk}}/deletebook/" class="btn btn-danger">Удалить</a>
        </div>
      </div>
      {% endfor %}
      </div>

        


{% endblock body %}
