{% extends 'base.html' %}
{% load static %}


{% block title %}ListBook
{% endblock title %}

{% block body %}
 <h1>Список книг</h1>
    <a href="{% url 'createbook' %}"class="btn btn-primary">Create new Book</a><br>
    <table width="100%" class="table">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>genre</th>
            <th>#</th>
        </tr>
        </thead>
        {%for obj in object_list%}
        <tr>
            <td>{{obj.pk}}</td>
            <td><a href="/{{obj.pk}}/detailbook/">{{obj.name}}</a></td>
            <td>{{obj.description}}</td>
            <td>{{obj.genre}}</td>
            <td><a href="/{{obj.pk}}/updatebook/"><i class="fas fa-edit"></i></a><br>
                <a href="/{{obj.pk}}/deletebook/"><i class="fas fa-trash-alt"></i></a><br>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}
