{% extends 'base.html' %}
{% load static %}


{% block title %}TEST
{% endblock title %}
{% block body %}

<h1> HOME PAGE</h><br>

    <a href="http://127.0.0.1:8000/listgenre/"> ListGenre + Update + create + delete</a><br>
    <a href="http://127.0.0.1:8000/listbook"> ListBook + Update + create + delete</a><br>
    


    <h1>GENRE</h1>
     <table class="table">
     <thead class="thead-dark">
     <tr>
     <th>pk</th><th>name</th><th>description</th>
     </tr>
     </thead>
     {% for genre in genre  %}
        <tr>
            <td>{{genre.pk}}</td><td>{{genre.name}}</td><td>{{genre.description}}</td>
        </tr>
     {% endfor %}
     
     </table>

     <h1>BOOK</h1>
     <table class="table">
     <thead class="thead-dark">
     <tr>
     <th>pk</th><th>name</th><th>description</th><th>genre</th><th>created</th><th>updated</th>
     </tr> 
     </thead>
     {% for book in books  %}
        <tr>
            <td>{{book.pk}}</td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.created}}</td>
            <td>{{book.updated}}</td>
        </tr>
     {% endfor %}
     
     </table>
{% endblock body %}
