{% extends 'base.html' %}
{% load static %}


{% block title %}TEST
{% endblock title %}
{% block body %}
<div class="container">
<h1>Home Page</h1>
</div>
<div class="container">
<h1> Списки:</h><br>
    
    
    <a href="/listgenre/"> ListGenre + Update + create + delete</a><br>
    <a href="/listbook/"> ListBook + Update + create + delete</a><br>
    
{{user}}

    <h1>GENRE</h1>
     <table class="table">
     <thead class="thead-dark">
     <tr>
     <th>Количество</th><th>Имя заказчика</th><th>Книги</th><th>Создан</th>
     </tr>
     </thead>
     {% for books_in_cart in books_in_cart  %}
        <tr>
        {% if request.user == books_in_cart.cart.user %}
            <td>{{books_in_cart.quantity}}</td>
            <td>{{books_in_cart.cart.user}}</td>
            <td>{{books_in_cart.book}}</td>
            <td>{{books_in_cart.created}}</td>
        {% endif %}
        </tr>
     {% endfor %}
     
     </table>

     <h1>BOOK</h1>
     <table class="table">
     <thead class="thead-dark">
     <tr>
     <th>pk</th><th>name</th><th>description</th><th>genre</th><th>created</th><th>updated</th>
     </tr> 
     </thead>
     {% for book in books  %}
        <tr>
            <td>{{book.pk}}</td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.created}}</td>
            <td>{{book.updated}}</td>
        </tr>
     {% endfor %}
     
     </table>
</div>
{% endblock body %}
