{% extends 'base.html' %}
{% load static %}


{% block title %}Информация о пользователе
{% endblock title %}

{% block body %}
<div class="container">
<h1>Информация о пользователе</h1>
</div>
<div class="container">

        <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Логин пользователя :{{user}}</h5>
              <p class="card-text"> Имя пользователя :{{first_name}}</p>
              <p class="card-text"> Фамилия пользователя: {{last_name}}</p>
              <p class="card-text"> Почта пользователя: {{user.email}}</p>
              
            </div>
          </div>
        </div>
      </div>

     <h1>Список заказанных товаров</h1>
     <table class="table">
     <thead class="thead-dark">
     <tr>
     <th>Количество</th><th>Имя заказчика</th><th>Книги</th><th>Создан</th>
     </tr>
     </thead>
     {% for books_in_cart in books_in_cart  %}
        <tr>
        {% if request.user == books_in_cart.cart.user %}
            <td>{{books_in_cart.quantity}}</td>
            <td>{{books_in_cart.cart.user}}</td>
            <td>{{books_in_cart.book}}</td>
            <td>{{books_in_cart.created}}</td>
        {% endif %}
        </tr>
     {% endfor %}
     
     </table>
</div>
{% endblock body %}
